@model GetClientViewModel

<div class="alert alert-danger">
    <strong>Cuidado!</strong>
    <p class="text-white">Você realmente deseja deletar este cliente?</p>
</div>
<br/>
<div class="col-md-4">
    <form asp-action="Details">
        <div class="form-group">
            <label asp-for="Id" class="text-black fs-4">Id</label>
            <input class="form-control w-50" type="text" placeholder="@Html.DisplayFor(model => model.Id)" readonly/>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="text-black fs-4">Nome</label>
            <input class="form-control w-75" type="text" placeholder="@Html.DisplayFor(model => model.Name)" readonly/>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="text-black fs-4">Email</label>
            <input class="form-control w-75" type="text" placeholder="@Html.DisplayFor(model => model.Email)" readonly/>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="text-black fs-4">Sobrenome</label>
            <input class="form-control w-75" type="text" placeholder="@Html.DisplayFor(model => model.LastName)" readonly/>
        </div>
        <div class="form-group">
            <label class="text-black fs-4" asp-for="Active">Ativo?</label>
            @Html.DisplayFor(model => model.Active)
        </div>
    </form>
</div>
<h4></h4>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id"/>
    <button class="btn btn-danger rounded-1 m-1" type="submit" onclick="return confirm('Deseja realmente deletar este cliente?')">
        Deletar
    </button>
    <a class="btn btn-secondary rounded-1 m-1" asp-action="Index">Retornar a Lista</a>
</form>